body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  nav{
    position: sticky;
  }
  header {
    background-color: white;
    padding: 6px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .about{
    color: #f9b001;
  }
  .cart{
    background-color: #f9b001;
    padding: 10px;
  }
  a{
    color: black;
    text-decoration: none;
  }
  a:hover{
    color: #f9b001;
  }
  .logo {
    float: left;
    margin-right: 10px;
  }
  .logos{
    max-width: 100px; /* reduce max-width to 22.5px (30% of 75px) */
  padding-left: 12px; /* reduce padding-left to 12px */
  padding-bottom: 6px; /* reduce padding-bottom to 6px */
  object-fit: contain;
    
  }
  .container{
    overflow: hidden;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .Content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .About {
    width: 50%;
    padding: 20px;
  }
  
  .Model {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Model img {
    width: 100%; /* make the image take up the full width of the .Model div */
    height: auto;
    margin-bottom: 0;
  }
  footer {
    background-color: #f9b001;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
